.DS_Store1
Revert "Merge branch 'refactoring/REGISTRY_COMMAND'"

This reverts commit 0402df307b6b988cf446013e24c39473528c42d6, reversing
changes made to 4a1c02a2651525118f8ee7bcf2f1ccb8cd32cc6f.

# Conflicts:
#	build/lib/proto_py/tcpWorker.py
#	build/lib/proto_py/worker.py
#	proto_py/tcpWorker.py

**/.DS_Store

.idea

**/.idea

env
venv

__pycache__/

**/__pycache__/

*.pyc

**/*.pyc

proto_py.egg-info/

build/

dist/